@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://fonts.googleapis.com/css?family=Yesteryear);
body{
    font-family: 'Raleway', sans-serif;
    padding: 0 !important;
}

.nav{
    position: relative;
}
.nav{
    background-color: black;
    padding: 10px;
    color: white;
    width: 105%;
}
.drupal-img{
    float: left;
    margin-top: -15px;
}
.nav span{
    float: left;
    margin-left: 10px;
}
.nav p{
    display: inline;
    
}
.nav .n1{
    margin-left: 0;
    padding-left: 0;
    width: 230px;
}
.nav .n2{
    margin: 0 auto;
}
.nav .n3 #m1{
    color:#e67c47;
    float: right;
}
.bg{
    background: url(../images/header-bg.jpg) no-repeat;
    height: 100%;
    width: 100%
    position: relative;
    background-position: center;
    background-size: cover;
}
.btn-nav{
    margin-top: -20px;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    padding-bottom: 10px;
    background: rgba(0, 250, 0); /* Fallback */
    background-color: rgba(0, 250, 0, 0.1);
    color: rgba(0, 250, 0, 0.1);
}
.btn-nav a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: block;
}

.btn-nav a:hover {
    text-decoration: none;
    color: #bbdce5;
}
.btn-nav img {
    width: 30px; height: 30px;
    padding-bottom: 10px;
}
.bg-txt{
    top: 100px;
    width: 600px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.bg-txt #manila-txt{
    font-family: 'Yesteryear', cursive;
    color: white;
    font-size: 250px;
    margin-top: 50px;
    position: absolute;
    width: 100%;
    padding-right: 20px;
    text-shadow: -1px -1px gray;
    -webkit-transform: rotate(-18deg);
    /* Firefox */
    -moz-transform: rotate(-18deg);
    /* IE */
    -ms-transform: rotate(-18deg);
    /* Opera */
    -o-transform: rotate(-18deg);
    }
.bg-txt #lbl{
    font-size: 60px;
    color: #bbdce5;
    position: absolute;
    bottom: -190px;
    right: 0;
}
.bg-txt #drupal-txt{
    color: #bbdce5;
    position: absolute;
    left: 20px;
    top: 60px;
    font-size: 50px;
}
.m2{
    position: absolute;
    text-align: center;
    bottom: 0px;
}
.m2 button{
    padding: 20px 90 20 90px
   
}
section{
    margin: 0;
    /*background-color: #002b48;*/
}

.section-white {
    margin: 40px 0;
}

.block-title {
    border-bottom: 1px solid #e67c47;
    margin: 0 0 40px 0;
}

/* SPEAKERS */
.speaker{
    margin-top: 0;
    height: 450px;
    background-color: #002b48;
}

.item .row{
    max-width: 750px;
    height: 345px;
    margin: 0 auto;
    position: relative;
}
.carousel{
    padding-top: 70px;
}

.carousel-indicators li{
    background-color: #59829e;
    border-radius: 0;
    border: none;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #b1d9f4;
}
/* SLIDER  */
.item{
    padding: 20px;
}
.item img{
    border-radius: 50%;
}
.item h4{
    font-size: 50px;
    font-weight: 700;
    color:#b1d9f4;
}
.item #span1{
    color: #f3bd54;
    font-size: 24px;
}
.item #span2{
    font-size: 16px;
    color: #f3bd54;
}
.item p{
    margin-top: 25px;
    font-size: 22px;
    color: white;
}
.item img{
    position: absolute;
    width: 270px;
    right: 0;
    margin-top: 20px;
}

/* END OF SLIDER */

#venue {
    position: relative;
}

.map-overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

.tb-ticket select {
    width: auto;
}

.fb-social img {
    float: right;
    max-width: 32px; height: 32px;
    margin-top: 5px;
}

.footer {
    background: url(../images/header-bg.jpg) no-repeat;
    position: relative;
    background-size: cover;
    padding: 40px;
    color: #fff;
    margin-bottom: 0;
    background-position: bottom;

    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

}

.footer a {
    color: #fff;
    text-decoration: underline;
}









@media (max-width: 480px) { 
    .nav .n1{
        font-size: 12px;
        margin-left: 15px;
    }
    .nav #date{
        position: absolute;
        left: 40px;
        bottom: -5px;
    }
    .nav .fb-social{
        position: absolute;
        right: 30px;
    }
    .nav .n3{
        position: absolute;
    }
    .btn-nav a p{
        font-size: 12px;
    }
    .btn-nav {
        text-align: center;
    }
    .bg-txt{
        top: 70px;
        width: 100%;
    }
    .bg-txt #drupal-txt{
        font-size: 25px;
    }
    .bg-txt #manila-txt{
        font-size: 120px;
    }
    .bg-txt #lbl{
        font-size: 25px;
        bottom: -80px;
    }
    .carousel-inner .item h4 {
        font-size: 22px;
    }
    .carousel-inner .item #span1 {
        font-size: 12px;
    }
    .carousel-inner .item #span2 {
        font-size: 11px;
    }
    .carousel-inner .item p {
        font-size: 12px;
    }
    .carousel-inner .item img {
        width: 125px;
        margin-top: 50px;
        margin-right: 0px;
    }
    .m2{
        position: relative;
        bottom: -200px;
    }
}
@media (min-width: 481px) and (max-width: 768px) { 
    .btn-nav a p{
        font-size: 16px;
    }
    .btn-nav a{
      top: -20px;
       
    }
}
@media (min-width: 769px) and (max-width: 992px) { 
  
}
@media (min-width: 1200px) { 

}
