@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://fonts.googleapis.com/css?family=Yesteryear);
body{
    font-family: 'Raleway', sans-serif;
}

header{
    height: 65px;
}
.nav{
    background-color: black;
    padding: 10px;
}
.drupal-img{
    float: left;
}
.nav span{
    float: left;
    margin-left: 10px;
}
.nav p{
    display: inline;
}
.nav .n3{
    float: right;
}
.nav .n2{
    margin: 0 auto;
}
.nav .n3 #m1{
    color:#e67c47;
}
.bg{
    background: url(../images/header-bg.jpg) no-repeat;
    height: 787px;
    position: relative;
    background-size: cover;
}
.btn-nav{
    text-align: center;
    height: 90px;
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgba(0, 250, 0); /* Fallback */
    background-color: rgba(0, 250, 0, 0.1);
    color: rgba(0, 250, 0, 0.1);
}
.btn-nav a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: block;
}

.btn-nav a:hover {
    text-decoration: none;
    color: #bbdce5;
}

.btn-nav img {
    width: 30px; height: 30px;
    padding-bottom: 10px;
}
.bg-txt{
    top: 270px;
    width: 600px;
    margin: 0 auto;
    height: 140px;
    position: relative;
}
.bg-txt #manila-txt{
    font-family: 'Yesteryear', cursive;
    color: white;
    font-size: 250px;
    margin-top: 50px;
    position: absolute;
    text-shadow: -1px -1px gray;
    -webkit-transform: rotate(-18deg);
    /* Firefox */
    -moz-transform: rotate(-18deg);
    /* IE */
    -ms-transform: rotate(-18deg);
    /* Opera */
    -o-transform: rotate(-18deg);
    }
.bg-txt #lbl{
    font-size: 60px;
    color: #bbdce5;
    position: absolute;
    bottom: 0;
    right: 0;
}
.bg-txt #drupal-txt{
    color: #bbdce5;
    position: absolute;
    left: 20px;
    top: -60px;
    font-size: 50px;
}
.m2{
    position: absolute;
    text-align: center;
    bottom: 30px;
    margin-left: 350px;
}
.m2 button{
    padding: 20px 90 20 90px
   
}
section{
    margin: 0;
    /*background-color: #002b48;*/
}

.section-white {
    margin: 40px 0;
}

.block-title {
    border-bottom: 1px solid #e67c47;
    margin: 0 0 40px 0;
}

/* SPEAKERS */

.speakers ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.speakers ul li {
  float: left;
  margin-bottom: 70px;
  width: 50%;
}

.speakers ul li .speakers__content {
  padding: 0 17px;
  margin-left: 180px;
}

.speakers ul li .speakers__img {
  margin-bottom: 25px;
  float: left;
}

.speakers ul li .speakers__img img {
  border-radius: 100%;
  width: 160px;
  height: 160px;
}

.speakers ul li .speakers__author-name {
  font-family: arial;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 17px;
}

.speakers ul li .speakers__author-name a {
  color: #333;
}

.speakers ul li .speakers__author-name a:hover {
  color: #3f8ad6;
}

.speakers ul li .speakers__text {
}

.comingsoon {
    text-align: center; font-weight: bold; font-size: 200%;
    text-transform: uppercase;
}

#venue {
    position: relative;
}

.map-overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

.tb-ticket select {
    width: auto;
}

.fb-social {
    float: right;
    width: 32px; height: 32px;
    margin-left: 10px;
}

.footer {
    background: url(../images/header-bg.jpg) no-repeat;
    position: relative;
    background-size: cover;
    padding: 40px;
    color: #fff;
    margin-bottom: 0;
    background-position: bottom;

    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

}

.footer a {
    color: #fff;
    text-decoration: underline;
}