@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body{
    font-family: 'Raleway', sans-serif;
}
nav{
    background-color: black;
}
nav .drupal-img{
    width: 40px;
}
.bg{
    background-image: url(/images/header-bg.png) no-repeat;
    height: 50%;
}